@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Modak&family=Pixelify+Sans&family=Righteous&family=Sniglet&display=swap');


body {
    margin: 0;
    font-family: "Righteous", sans-serif;
    background-color: #a6c7c8;
}

/* Navbar styling */

.mainNav a {
    width: 11vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
}

.mainNav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: wheat;
    padding: 10px 0;
    border-top: solid 2px rgb(194, 183, 163);
}

.homeButton {
    background-image: url("./assets/home.png");
}

.browseButton {
    background-image: url("./assets/search.png");
}

.checkoutButton {
    background-image: url("./assets/basket.png");
}

/* Home page styling */

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callToAction {
    height: 25vh;
    background-color: #f5deb3;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    filter: drop-shadow(rgb(88, 86, 81) 0.2rem 0.2rem 0.2rem);
}

.highlightSection {
    height: 45vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}

.highlight {
    background-color: azure;
    width: 80%;
    height: 20%;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(rgb(128, 116, 93) 0.2rem 0.2rem 0.2rem);
}